[run]
source = app
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    */site-packages/*
    */migrations/*

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

[html]
directory = tests/coverage/html

[json]
output = tests/coverage/coverage.json
